<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Query result</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
    <main>
        <h1>Query result</h1>
        <p>bookID: <%= result.bookID %></p>
        <p>name: <%= result.name %></p>
        <p>author: <%= result.author %></p>
        <p>topic: <%= result.topic %> </p>
        <p>numberOfBooks: <%= result.numberOfBooks %> </p>
        <a href="/"><button>Menu</button></a>
    </main> 
</body>
</html>